{% extends "material/base.html" %}
{% import "material/utils.html" as util %}
{% import "material/wtf.html" as wtf %}

{% block title %}Welcome!{% endblock %}
{% block content %}
<nav class="navbar purple">
        <link rel="stylesheet" type="text/css" href="/web/static/nav.css">
        {% if username %}
                {{nav.user.render()}}
        {% else %}
                {{nav.visitor.render()}}
        {% endif %}
</nav>
<div class="container" style="padding: 5%;">
        <h1>My Image Feed</h1>
        {% if images %}
            {% for image in images: %}
            <div class="row">
                <div class="col s6 m6 l6 xl6">
                        <div class="card" style="padding: 10%;">
                                <img src="{{resized_img_src(image[0].path, width='400px', height='400px', mode='crop', quality=75, enlarge=True)}}" width='100%'/>
                                <div class="card-content">
                                        <span class="card-title black-text">{{image[0].caption}}</span>
                                </div>
                                <div class="card-action">
                                    <a href="{{'/edit?oid=' + image[0].oid}}">Edit</a>
                                    <a href="{{'/delete?oid=' + image[0].oid}}">Delete</a>
                                </div>
                        </div>
                </div>
                {% if image|length == 2 %}
                <div class="col s6 m6 l6 xl6">
                        <div class="card" style="padding: 10%">
                                <img src="{{resized_img_src(image[1].path, width='400px', height='400px', mode='crop', quality=75, enlarge=True)}}" width="100%"/>
                                <div class="card-content">
                                        <span class="card-title black-text">{{image[1].caption}}</span>
                                </div>
                                <div class="card-action">
                                    <a href="{{'/edit?oid=' + image[1].oid}}">Edit</a>
                                    <a href="{{'/delete?oid=' + image[1].oid}}">Delete</a>
                                </div>
                        </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        {% endif %}
        <div class="container" style="padding: 5%; padding-left: 25%; float: center">
                {{ pagination.info }}
                {{ pagination.links }}
        </div>
</div>
{% endblock %}